html {
    width: 100%;
}

body {

    height: 100vh;
    margin: 0;
    
    
}

.body-container {
    display: flex;
    flex-direction: column;
    

}

.header {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: #F9FAF8;
    margin: 0px;
    padding-left: 55px;
    padding-right: 55px;
}

    ul {

    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    margin-right: 10px;
    padding: 5px;
    padding-left: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 500px;

    
    
}

.head-links {
    align-content: flex-end;
    
}

a {
    text-decoration:none;
}
    a:link {
        color: #E5E7EB;
        
      }
      a:visited {
        color: #E5E7EB;
        
      }
      a:hover {
        color: #00bb83;
        border-bottom: 1px solid #000099;
      }
    
      .container-1 {
          min-height: 200px;
          color: #F9FAF8;
          background-color: #1F2937;
          margin: 0px;
          padding: 55px;
          font-family: 'Roboto', sans-serif;
          font-weight: bolder;
          font-size: 18px;
          display: flex;
          justify-content: space-between;
      }

      .xx {
          max-width: 890px;
          padding: 10px;
      }

      h3 {
          font-size: 48px;
      }

      #button-1 {
        background-color: #3882f6;
        color: #F9FAF8;
        font-size: 14px;
        padding: 6px 32px;
        border: none;
        border-radius: 12px;
      }
        .info {
            
          justify-content: center; 
          text-align: center;
          padding-bottom: 20px;
          color: #1F2937;
          font-family: 'Roboto', sans-serif;
          

            
        }

        .container-2 {

        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 30px;
            
            }

        .players-images {

        vertical-align: top;
        display: inline-block;
        justify-content: center;
        text-align: center;
        width: 300px;
        gap: 50px;
        font-size: smaller;
        color: #1F2937;
        font-family: 'Roboto', sans-serif;
        }

       .quote {

            font-family: 'Roboto', sans-serif;
            font-size: 36px;
            color: #1F2937;
            font-weight: 100;
            background-color: #E5E7EB;
            text-align: center;
            padding-top: 24px;
            padding-bottom: 24px;
            margin: 0px;
            min-height: 200px;
        } 

        .blue-box {
            background-color: royalblue;
            width: 800px;
            height: 160px;
            
            align-content: center;
        }

        

    

        
            

            

            

       
          
        }

      

      